body {
     background: linear-gradient(180deg, white, grey);
     box-sizing: border-box;
     text-align: center;
     font-family: Shrikhand;
     letter-spacing: 1px;
}

#container {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(6, 1fr);
     border: goldenrod 4px solid;
     min-height: 90vh;
     grid-gap: 10px;
     margin-top: 20px;
     padding: 10px;
     border-radius: 10px;
}

#start, #container, img.giff {
     box-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

#start{
     background-color: goldenrod;
     text-align: center;
     border-radius: 28px;
     color: #ffffff;
     font-size: 20px;
     padding: 10px 20px 10px 20px;
     text-decoration: none;
     margin-bottom: 20px;
 }

#start:hover {
     background: purple;
     font-weight: bold;
     color: goldenrod;
     font-size: 22.5px;
}

h1, #tracker, #score, #hscore {
     text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
     color: goldenrod;
}


.gameTile {
     align-self: center;
     justify-self: center;
}

img.giff:hover {
     border: 5px solid rgb(184, 134, 11);
}


img.giff {
     border: 5px solid goldenrod;
     max-height:200px;
     max-width: 200px;
     border-radius: 10px;
}

#tracker, #score, #hscore{
     font-size: 20px;
}
